
body { 
	
	background: white ;
	color:#3749abad;
	font-family: 'Lora', serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 48px;


		}
		h1,h2,h3 {
		font-family: "Courier+Prime",serif;
		font-weight: 700;
		font-size:18px;
		color: #263799;
		}

		h1 {
	
		letter-spacing:1px;
		font-size: 48px;
		line-height: 24px;
		font-weight:24px;
		}

		h2 { background:rgb(98,97,95,0.2);
		
	 	margin: 5px 2px;
		 letter-spacing: 5px;
		 border-radius: 6px;
		 }
		 h3 {
		 	background: #DAFFFB;
		 }
	a{
	color: red;
	text-decoration: none;
	transition: color 5,0s ease;
	}
 	a:hover {
 	color: orange;
 	text-decoration: underline;
 	}

#Pfp{
 	border-radius: 25%;
 	width: 120px;
 } 

 .container {
 	background-color: white;
 	margin: 40px auto;
 }
 .card-white {
 	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
 	border-radius: 9px;
 	text-align: center;
 	background-color: #0fbf9d3d;
 	padding: 14px;
 	margin: 15px auto;
 }
 
 .image-tennis {
 	background-image: url('images/banner-tennis.jpg');
 	background-size: cover;

 }
ul {
    list-style-type: none;
}


#box-red {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: peachpuff;
	padding: 9px 15px;
	border-radius: 8px;
	margin: auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {

	.container {
		width: 400px;
	}
}